/* Add student form css */
body {
    background: linear-gradient(to bottom, #c89515, #0d752e);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    background: linear-gradient(to right, #35beca, #482fc0);
    padding: 10px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"]{
    width: 97%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #46A094;
}
button{
    position: left;
    top: 50%;
    transform: translateY(-50%);
}