/* Login form css */
body {
	font-family: Monaco, Monospace;
	background-image: url("https://img.freepik.com/free-photo/liquid-marbling-paint-texture-background-fluid-painting-abstract-texture-intensive-color-mix-wallpaper_1258-82821.jpg?w=2000");
	background-repeat: no-repeat;
 	background-size: 133%;
 	background-position: center;
	background-color: #3b3a47;
}

.login-container {
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: auto;
	margin-top: 100px;
	max-width: 300px;
	text-align: center;
}

h1 {
	font-size: 32px;
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	border: black;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
}

button {
	background-color: #1345d0;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #365fd1;
}