/* Homepage css */
body {
    background: linear-gradient(to right, purple, black);
    margin: 10;
    padding: 10;
    font-family: Arial, sans-serif;
}
h1  {
    background: linear-gradient(to right, #009EFD, #F68084);
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
}
.assignment_name {
    position: right;
}
.assignment-table {
    background: linear-gradient(to bottom right, #25D366, #F77737);
    border-collapse: collapse;
    width: 100%;
}

.assignment-table th,
.assignment-table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}