/* Student Update form css */
body {
    font-family: Monaco, Monospace;
	background-image: url("https://img.freepik.com/free-vector/white-abstract-background-3d-paper-style_23-2148390812.jpg?w=2000");
	background-repeat: no-repeat;
 	background-size: 100%;
 	background-position: center;
	background-color: #3b3a47;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    background: linear-gradient(to right, #FDD037, #E65C4F);
    padding: 10px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"]{
    width: 97%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #46A094;
}
button{
    position: left;
    top: 50%;
    transform: translateY(-50%);
}